.monofa
{
	width: 1.5em;
	text-align: center;
}

figure * + figcaption {
    padding-top: 0.5em;
	text-align: center;
}

.cover-photo {
	height: 500px;
	object-fit: cover;
}

.post-content > * {
	margin-left: 40px;
	margin-right: 40px;
}

body.font-face {
	font-family: 'source_sans_proregular';
    src: url('/assets/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

img.banner-fit {
	height: 400px;
	object-fit: contain;
}

img.pad-top {
	padding-top: 40px;
}

.post {
	padding: 20px;
}

.classic-blog .post-content .meta {
	padding-left: 60px;
}

.fig-noresize img{
	width: auto;
	height: auto;
}

.fig-noresize {
	text-align: center;
}

ul {
    list-style: square;
}

.hashover-home-link {
	font-size: smaller;
}